.CongifTab .p-tabview-nav-link {
    border: none !important;
}

.CongifTab .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #e5eafb !important;
    color: #233b83 !important;
    margin-bottom: 3px !important;
}

.p-tabview .p-tabview-nav {
    border: none !important;
    align-items: center;
}

.p-tabview .p-tabview-panels {
    padding: 0px !important;
}

.CongifTab .p-tabview-selected a {
    border-radius: 6px;
}

.ChangeOptionContainer {
    display: flex;
}