.QuestionSection {
  padding: 20px;
  background-color: #fff;
  height: 60vh;
  overflow: auto;
}
.QuestionSection span {
  font-size: 18px;
  color: #233b83;
  font-family: interRegular;
  margin: 10px 0px;
  display: block;
}
