.sectionContainer {
    width: 8em;
    /* outline: 1px solid #233b83; */
    outline-offset: 3px;
    border-radius: 15em;
    box-shadow: 0 0 1.5em -0.15em #c6d2f7;
}

.dot {
    width: 1em;
    height: 1em;
    background: #233b83;
    border-radius: 20em;
    filter: brightness(1.25);
    animation: stretch 1s linear alternate infinite;
}

@keyframes stretch {
    100% {
        transform-origin: left;
        transform: translateX(7em);
    }
    50% {
        width: 3em;
    }
}

.loaderContainer {
    margin: 0 !important;
    min-height: 80vh !important;
    background: transparent;
    display: grid;
    place-items: center;
    font-family: system-ui, sans-serif;
    font-size: calc(1rem + 1vw);
    line-height: 1;
    align-items: center;
}

img {
    max-width: 100%;
    object-fit: cover;
}