.employeeResponseSection {
  padding: 16px;
  width: 100%;
  margin: auto;
  .ResponseHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .backIconWithUserName {
      display: flex;
      gap: 8px;
      align-items: center;
    }
    .backIcon {
      color: #233b83;
      font-size: 1.7rem;
    }
    .userName {
      // font-size: 18px;
      color: #233b83;
      font-weight: 300;
    }
    .FilterOption {
      display: flex;
      gap: 8px;
      align-items: flex-start;
      margin: 8px 0;
      .filterStatus {
        width: 220px;
      }
      .filterPeople {
        width: 220px;
      }
      .filterSearch {
        width: 220px;
      }
    }
  }
  .employeeResponseDataTable {
    th {
      padding: 16px !important;
    }
    td {
      min-width: 200px;
    }
    td:nth-child(1) {
      min-width: 480px;
      font-weight: 600;
    }
    td:nth-child(3) {
      min-width: 100px;
      font-weight: 600;
    }
  }
  .noDataFound {
    display: flex;
    justify-content: center;
    color: #233b83;
    font-weight: 500;
    height: 100px;
    font-weight: 600;
  }
}

.pageTitle {
  color: #233b83;
  font-weight: 600;
  font-size: 18px;
}

.pendingSts {
  padding: 6px 12px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  .statusDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

.commentSection {
  margin-top: 10px;
  .CommentBox {
    background: #ffffff61;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.cancelBtn {
  background-color: #cfcfcf;
  color: #000;
  border: none;
  font-weight: 600;
  padding: 8px 24px;
}

.saveBtn {
  color: ffff;
  background-color: #233b83;
  border: none;
  font-weight: 600;
  padding: 8px 24px;
}
