.employeeResponseSection {
    padding: 16px;
    .ResponseHeader {
        display: flex;
        gap: 16px;
        .backIcon {
            color: #233b83;
            font-size: 2rem;
        }
        .userName {
            // font-size: 18px;
            color: #233b83;
            font-weight: 500;
        }
    }
}

.pendingSts {
    background: #d8e5f0;
    padding: 6px 4px;
    border-radius: 6px;
    text-align: center;
    color: #1e71b9;
    font-weight: 500;
    font-size: 12px;
    width: 160px;
}