.navBar {
    width: 99%;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0px 5px 0px #f9f9f9;
    justify-content: space-between;
    border-bottom: 1px solid #cbcbcb;
}

.navRightContainers {
    img {
        width: 190px;
    }
}

.navLeftContainers {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.navLeftContainers P {
    padding: 10px;
    cursor: pointer;
    .selected {
        padding: 10px;
        border-bottom: 2px solid #233b83;
        color: #233b83;
    }
}

.ConfigContainer {
    display: flex;
}

.CheckPointSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.RightSection {
    display: flex;
    align-items: center;
    gap: 14px;
    i {
        cursor: pointer;
    }
}

.AnswersContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.NewOptionContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.AddOptionContainer {
    margin: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.addNewQuestionSection {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    color: #233b83;
}

.ConfigBtns {
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
    .saveBtn {
        color: ffff;
        background-color: #233b83;
        border: none;
        font-weight: 600;
        padding: 8px 24px;
    }
    .cancelBtn {
        background-color: #cfcfcf;
        color: #000;
        border: none;
        font-weight: 600;
        padding: 8px 24px;
    }
}

.CheckpointConfigHeader {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f0f8ff;
    .HeaderTitle {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #233b83;
    }
}

.OnboardingContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0px;
    justify-content: space-between;
    .OnboardingRightContainer {
        display: flex;
        gap: 20px;
    }
}

.addDialog {
    background-color: white;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    margin: 16px;
    .addDialogHeader {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        width: 30%;
    }
    .addDialogInput {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        width: 70% !important;
    }
    .peoplePickerWrapper {
        div:first-child {
            width: 100%;
        }
    }
}

.addDialogBtnContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.HeaderTabview {
    border: none !important;
    .p-tabview-nav-container {
        .p-tabview .p-tabview-nav {
            border: none !important;
        }
    }
}

.card {
    //display: flex !important;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center !important;
    .DataTable {
        border: 1px solid black !important;
    }
}

.HrEditContainer {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    padding-bottom: 10px;
}

.Bgstyle {
    background-image: url("../assets//Images//Bg.svg");
    height: 80vh;
    width: 100%;
    background-size: cover;
}

.EmployeeAnsContainer {
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    // border: 1px solid red;
    //display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 0px;
}

.EmployeeAnsContainerheader {
    p {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        font-family: interRegular;
    }
    span {
        font-size: 16px;
        font-family: interRegular;
    }
    color: white;
    background-color: #233b83;
    width: 100%;
    padding: 10px;
}

.EmployeeQuestionContainer {
    display: flex;
    background-color: white;
}

.EmployeeQuestionContainer .question {
    box-shadow: 0px 4px 24px -9px #00000026;
    padding: 10px 14px;
}

.commentsContainer {
    background-color: #fff;
    margin: 20px 10px;
    padding: 0;
    textarea {
        width: 100%;
        resize: none;
        height: 80px;
    }
    .commentsContainerHeader {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 10px 0px;
    }
}

.employeeFormFooter {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    gap: 14px;
}

.employeeFormFooter button {
    border: none;
}

.CongifTab {
    margin: 16px 0px;
}

.pendingSts {
    background: #d8e5f0;
    padding: 6px 4px;
    border-radius: 6px;
    text-align: center;
    color: #1e71b9;
    font-weight: 500;
    font-size: 12px;
}

.ResponseHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.noQuestionFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #233b83;
}

.addNewQuestionBtn {
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #e5eafb;
    padding: 8px 16px;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
}

.flowTriggerIndicator {
    margin-left: 50px;
    background-color: #E2FBE9;
    color: green;
    font-size: 14px;
    padding: 6px;
    border-radius: 4px;
}

.QuestionSection {
    padding: 12px;
    background-color: #fff;
    width: 520px;
    .questionInput {
        width: 100%;
        color: #233b83;
    }
    .QuestionTag {
        text-align: right;
        margin-top: 6px;
        color: #837023;
        font-size: 14px;
        font-weight: 400;
    }
    .optionSection {
        display: flex;
        justify-content: space-between;
        margin: 16px 0;
        .optionChoice {
            .radioBtn {
                color: #233b83;
                margin: 2px;
            }
        }
    }
}